.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!**/*.d.ts
**/.vscode-test.*
node_modules/**
.github/**
*.vsix
PUBLISHING.md
ARCHITECTURE.md
.git/**
.DS_Store
